h1{
    text-align: center;
    color: #c47827;
    font-family: 'Press Start 2P', cursive;
    margin-top:150px;
    margin-bottom: 50px;
    font-size: 50px;
}
p {
    font-size: 25px;
    font-family: 'Fugaz One', cursive;
    margin:auto;
    max-width:1500px;
    margin-top:50px;
}
.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
    height: 50px;
}
body {
    background-image: url("time-travel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#travel {
    opacity: 0.1;
  
}
#hourglass {
    opacity: 0.8;
    float:right;
}