h1 {
    text-align: center;
    color: #ff9d00;
    font-family: 'Press Start 2P', cursive;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 50px;
}

h2 {
    font-size: 25px;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    color: #ff4b00;
    padding-top: 50px;
}

p {
    font-size: 25px;
    font-family: 'Fugaz One', cursive;
    margin: 50px 600px 0px 100px;
    max-width: 1500px;
    margin-top: 50px;
    margin-right: 500px;
    display: block;
    color: red;
}

.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    text-decoration: none;

}

body {
    background-image: url("time-travel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hourglass {
    opacity: 0.8;
    float: right;
    position: relative;
    right: 100px;
}
