h1{
    text-align: center;
    color: blue;
    font-family: 'Press Start 2P', cursive;
}
p {
    font-size: 15px;
    font-family: 'Fugaz One', cursive;
}
.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
    height: 50px;
}
body {
    background-image: url("time-travel.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
}
.travel {
    opacity: 0.1;
  
}
.clock {
    opacity: 0.1
    
}